<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th   style="width: 30%;">Username</th>
        <th   style="width: 40%;">Active roles</th>
        <th   style="width: 30%;"></th>
      </tr>
    </thead>
    <tbody>
      @for(User of users; track User.userName) {
      <tr>
        <td>{{ User.userName }}</td>
        <td> {{User.roles}}</td>
        <td><button (click)="openRolesModal()" class="btn btn-info">Edit roles</button></td>
      </tr>
      }
    </tbody>

  </table>

</div>
